body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-image: url(cafe.png); 
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    min-height: 100vh; 
    margin: 0;
}
.h1{
    display: flex;
    justify-content: center;
    align-items: center;
    color: darkred;
    
}
.h3{
    display: flex;
    justify-content: center;
    align-items: center;
}

.div{
    
    background-color: hsl(216, 50%, 16%);
     width: 290px; 
    border-radius: 15px;
    padding: 30px;
    box-shadow: 10px 10px 60px;
    
    
}
.button1{
    color: brown;
}
