body{
    background: rgb(103, 6, 103) ;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
img{
    width: 100px;
    border-radius: 50%;
}
.div{
    background-color: white;
    width: 350px;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.div1{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
}


.p1{
    color: black;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.p2{
    color: bisque;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.p3{
    color: aqua;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}